doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/validationEngine.jquery.css')
    link(rel='stylesheet', href='css/jquery.datepick.css')
    link(rel='stylesheet', href='css/jquery.jscrollpane.css')
    link(rel='stylesheet', href='css/select2.min.css')
    link(rel='stylesheet', href='css/style.css')
    //script(type="text/javascript", charset="utf-8", src="//www.gstatic.com/charts/loader.js")
    script(src="js/libs/spin.min.js")
    script(src="js/libs/utils.js")



  body
    block content
