extends layout

head
    title= title

block content

    body
        #center_spinner(style="position:fixed; top:50%; left:50%")
        

        .estee-header.super-admin-header
            .col-xs-10
                img#branding-logo(src="images/assets/navigation/logo_notext.png")
                .title-1 iapprove App Administrator <span id="id-current-user"></span>
            .col-xs-1
                a#id-estee-signout.title-1(href="#/logout") Sign out
            .col-xs-1.text-center
                span.glyphicon.glyphicon-cog

        #id-estee-login.wrapper-login
            .content-form-login
                .col-sm-2 &nbsp;
                .col-sm-8
                    #content-login-div.div-form
                        form.form-horizontal(role="form",  onsubmit="return false;")
                            h4.signin-title Sign in
                            hr
                            br
                            br
                            .form-group
                                label.col-sm-4.control-label(for="emailId") Username
                                .col-sm-6(style="padding: 0px;")
                                    input#emailId.form-control(type="text", name="emailId", value="")
                                .col-sm-2 &nbsp;
                            .form-group
                                label.col-sm-4.control-label(for="passwordId") Password
                                .col-sm-6(style="padding: 0px;")
                                    input#passwordId.form-control(type="password", name="")
                                .col-sm-2 &nbsp;
                            .form-group
                                .col-sm-12
                                    p.error-message error
                                    button#btnLogin.btn.btn-default(type="submit", style="text-transform: uppercase;") Sign in
                                .col-sm-12.hidden
                                    p Forgot your password?
                                        span.click-here Click here

        #id-estee-wrapper.estee-wrapper
            .main-contents-conttainer
                .clients-pane-icons.clearfix
                    h4 Select a Client
                    ul
                        li
                            button.btn(type="button")
                                img(src="images/assets/client-list/client-1.png")
                            div
                                | General Motors
                                span created 06/16/2016
                        li
                            button.btn(type="button")
                                img(src="images/assets/client-list/client-2.png")
                            div
                                | General Motors
                                span created 06/16/2016
                        li
                            button.btn(type="button")
                                img(src="images/assets/client-list/client-3.png")
                            div
                                | General Motors
                                span created 06/16/2016
                        li
                            button.btn(type="button")
                                img(src="images/assets/client-list/client-4.png")
                            div
                                | General Motors
                                span created 06/16/2016
                        li
                            button#id-client-icon.btn(type="button")
                                img(src="images/assets/client-list/add-new.png")
                            div

        #modal-add-new-user.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Add New User
                    .modal-body.clearfix
                        .row
                            .col-xs-4.row-label User picture
                            .col-xs-8.text-center.row-field
                                img#add-user-pic(src="images/assets/misc/profile_default.png")
                                img#add-user-sel-pic(src="images/assets/list_new_exp/btn_file_normal.png")
                        .row
                            .col-xs-4.row-label First Name
                            .col-xs-8.row-field
                                input#id-add-user-firstName.form-control(type="text", name="id-add-user-firstName", value="", class="validate[required]")
                        .row
                            .col-xs-4.row-label Last Name
                            .col-xs-8.row-field
                                input#id-add-user-lastName.form-control(type="text", name="id-add-user-lastName", value="", class="validate[required]")
                        .row
                            .col-xs-4.row-label Email Adress
                            .col-xs-8.row-field
                                input#id-add-user-email.form-control(type="text", name="id-add-user-email", value="", class="validate[required,custom[email]]")
                        .row
                            .col-xs-4.row-label Role
                            .col-xs-8.row-field
                                select#id-add-user-role
                                    option(value="ARTIST") Artist
                                    option(value="LEADER") Admin
                        .row.pass-line
                        .row
                            .col-xs-4.row-label Password
                            .col-xs-8.row-field
                                input#id-add-user-password.form-control(type="password", name="id-add-user-password", value="")
                        .row
                            .col-xs-4.row-label Password again
                            .col-xs-8.row-field
                                input#id-add-user-passconfirm.form-control(type="password", name="id-add-user-passconfirm", value="", class="validate[equals[id-add-user-password]]")
                        .row.pass-line
                    .modal-footer
                        .row
                            button#modal-add-new-user-btn-cancel.btn.btn-default(data-dismiss="modal", style="margin-right: 20px;", type="button") Cancel
                            button#modal-add-new-user-btn-add.btn.btn-default(aria-hidden="true", type="button") Add User


        script#templateLogsListView(type="text/template")
            <% _.each(data, function(model, key) { %>
            .row.users-row(data-id!="<%- model.id %>")
                .col-xs-3.user-cell <%- model.strCreated || '' %>
                //.col-xs-3.user-cell <%- ( ( model.author || {} ).firstName || '' ) + ' ' + ( ( model.author || {} ).lastName || '' ) %>
                .col-xs-3.user-cell <%- model.email %>
                .col-xs-6.log-action-cell <%- model.message || '' %>
                .row.tab-box.col-xs-12
            <% }); %>
            .col-xs-2.pagination-size
                select
                    option(value="10") 10
                    option(value="20") 20
                    option(value="50") 50
                    option(value="100") 100
                span.per-page Per Page
            .col-xs-10.text-center(style="padding: 0px;")
                nav
                    ul.pagination

        script#templateLogEditView(type="text/template")
            .row

        script#templateLogUsersView(type="text/template")
            label.col-xs-4.control-label User
            .col-xs-8
                select#id-select-log-users(style="width: 100%;")
                    option(value="") All Users
                    <% _.each( data, function(model, key) { %> 
                    option(value!="<%- model.id %>") <%- model.email %>
                    <% }); %>

        #modal-add-new-group.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Create New Group
                    .modal-body.clearfix
                        .row
                            .col-xs-4.row-label Group Name
                            .col-xs-8.row-field
                                input#id-add-group-name.form-control(type="text", name="id-add-group-name", value="", class="validate[required]")
                        .row
                            .col-xs-4.row-label Description
                            .col-xs-8.row-field
                                textarea#id-add-group-descr.form-control(name="id-add-group-desc")
                    .modal-footer
                        .row
                            button#modal-add-new-group-btn-cancel.btn.btn-default(data-dismiss="modal", style="margin-right: 20px;", type="button") Cancel
                            button#modal-add-new-group-btn-add.btn.btn-default(aria-hidden="true", type="button") Create Group
                        .row.text-center.modal-row-delete-group
                            button#modal-add-new-group-btn-delete.btn.btn-default.btn-delete(data-dismiss="modal", type="button") Delete Group

        #modal-add-user-to-group.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Add Member
                    .modal-body.clearfix
                        .row
                            .col-xs-9.row-field
                                span.icon-search
                                input#modal-search-users.form-control(type="text", name="modal-search-users", value="", placeholder="Enter Member Name")
                            .col-xs-3.row-label
                                button#modal-search-users-btn-search.btn.btn-default(type="button") Search
                        .row.add-user-to-group-grid-header
                            .col-xs-3 First Name
                                span.arrow-sort
                            .col-xs-3 Last Name
                            .col-xs-6 Email Address                            
                        .row.add-user-to-group-box
                            .col-xs-12
                    .modal-footer
                        button#modal-add-user-to-group-btn-cancel.btn.btn-default(data-dismiss="modal", style="margin-right: 20px;", type="button") Close
                        button#modal-add-user-to-group-btn-add.btn.btn-default(aria-hidden="true", type="button") Add User

        #modal-delete-users.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header.text-center
                        h4.modal-title.text-center Delete User
                    .modal-body.clearfix
                        p.text-center You are about to delete your selected user. 
                        p.text-center Are you sure you want to do this?
                        p.text-center This action <b>CAN NOT</b> be undone.
                    .modal-footer.text-center
                        button#modal-delete-users-btn-cancel.btn.btn-default(data-dismiss="modal", style="margin-right: 80px;", type="button") Cancel
                        button#modal-delete-users-btn-delete.btn.btn-default(aria-hidden="true", type="button") Yes, Delete

        #modal-remove-group-user.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header.text-center
                        h4.modal-title.text-center Remove User
                    .modal-body.clearfix
                        p.text-center You are about to remove this user from this group. 
                        p.text-center Are you sure you want to do this?
                        p.text-center This action <b>CAN NOT</b> be undone.
                    .modal-footer.text-center
                        button#modal-remove-group-user-btn-cancel.btn.btn-default(data-dismiss="modal", style="margin-right: 80px;", type="button") Cancel
                        button#modal-remove-group-user-btn-remove.btn.btn-default(aria-hidden="true", type="button") Yes, Remove
        
        #modal-delete-group.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header.text-center
                        h4.modal-title.text-center Delete Selected Group
                    .modal-body.clearfix
                        p.text-center You are about to delete the selected group. 
                        p.text-center Are you sure you want to do this?
                        p.text-center This action <b>CAN NOT</b> be undone.
                    .modal-footer.text-center
                        button#modal-delete-group-btn-cancel.btn.btn-default(data-dismiss="modal", style="margin-right: 80px;", type="button") Cancel
                        button#modal-delete-group-btn-delete.btn.btn-default(aria-hidden="true", type="button") Yes, Delete

        #confirm-alert.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4#confirm-alert-label.modal-title are you sure?
                    .modal-body.clearfix
                    .modal-footer
                        button.btn.btn-default.yes(data-dismiss="modal", style="margin-right: 20px;", type="button") Confirm
                        button.btn.btn-default.no(data-dismiss="modal", aria-hidden="true", type="button") Cancel

        #error-alert.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Error
                    .modal-body.clearfix
                        p 
                    .modal-footer
                        button.btn.btn-default.no(data-dismiss="modal", type="button") Ok

        #general-alert.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title 
                    .modal-body.clearfix
                        p
                    .modal-footer
                        button.btn.btn-default.no(data-dismiss="modal", type="button") Ok

        #modal-select-starting-date.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Please select a starting date for generating Excel report
                    .modal-body.clearfix
                        .col-xs-12.text-center
                            input.js-select-startdate.input-in-datepicker.form-control(type="text", value="")
                    .modal-footer
                        button.btn.btn-default.no(data-dismiss="modal", style="margin-right: 50px;", aria-hidden="true", type="button") Cancel
                        button.btn.btn-default.btn-ok(data-dismiss="modal", type="button") Export

        form(enctype="multipart/form-data", method="post", style="display: none; width: 0; height: 0;", onsubmit="return false;")
            input#topicIcon(type="file", name="topicIcon", style="display: none;")

        iframe#downloadFrame(width="0", height="0", name="downloadFrame", style="display: none;")

        script(data-main="js/desktop.admin" src="js/libs/require.js")
