extends layout

head
    title= title

block content

    body
        #center_spinner(style="position:fixed; top:50%; left:50%")
        

        .estee-header.super-admin-header
            .col-xs-10
                img#branding-logo(src="images/assets/navigation/logo_notext.png")
                .title-1 iapprove App Administrator <span id="id-current-user"></span>
            .col-xs-1
                a#id-estee-signout.title-1(href="#/logout") Sign out
            .col-xs-1.text-center
                span.glyphicon.glyphicon-cog

        #id-estee-login.wrapper-login
            .content-form-login
                .col-sm-2 &nbsp;
                .col-sm-8
                    #content-login-div.div-form
                        form.form-horizontal(role="form",  onsubmit="return false;")
                            h4.signin-title Sign in
                            hr
                            br
                            br
                            .form-group
                                label.col-sm-4.control-label(for="emailId") Username
                                .col-sm-6(style="padding: 0px;")
                                    input#emailId.form-control(type="text", name="emailId", value="")
                                .col-sm-2 &nbsp;
                            .form-group
                                label.col-sm-4.control-label(for="passwordId") Password
                                .col-sm-6(style="padding: 0px;")
                                    input#passwordId.form-control(type="password", name="")
                                .col-sm-2 &nbsp;
                            .form-group
                                .col-sm-12
                                    p.error-message error
                                    button#btnLogin.btn.btn-default(type="submit", style="text-transform: uppercase;") Sign in
                                .col-sm-12.hidden
                                    p Forgot your password?
                                        span.click-here Click here

        #id-estee-wrapper.estee-wrapper
            .main-contents-conttainer
                .clients-pane-icons.clearfix
                    h4 Select a Client
                    ul
                        li
                            button.btn(type="button")
                                img(src="images/assets/client-list/client-1.png")
                            div
                                | General Motors
                                span created 06/16/2016
                        li
                            button.btn(type="button")
                                img(src="images/assets/client-list/client-2.png")
                            div
                                | General Motors
                                span created 06/16/2016
                        li
                            button.btn(type="button")
                                img(src="images/assets/client-list/client-3.png")
                            div
                                | General Motors
                                span created 06/16/2016
                        li
                            button.btn(type="button")
                                img(src="images/assets/client-list/client-4.png")
                            div
                                | General Motors
                                span created 06/16/2016
                        li
                            button#id-client-icon.btn(type="button")
                                img(src="images/assets/client-list/add-new.png")
                            div

            #modal-add-new-client.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h4.modal-title New Client
                        .modal-body.clearfix
                            .row.pass-line
                            .row
                                .col-xs-3.row-label
                                    h4 Basic information
                                .col-xs-9
                                    .row
                                        .col-xs-3.row-label.text-right App Icon<span class="asterisk-red">*</span>
                                        .col-xs-3.text-center.row-field
                                            input.js-app-icon.form-control(type="text", value="", placeholder="Choose File...")
                                            input#id-app-icon.form-control(type="text", value="", class="validate[required]")
                                        .col-xs-3.row-label.text-right Background
                                        .col-xs-3.text-center.row-field
                                            input.js-client-background.form-control(type="text", value="", placeholder="Choose File...")
                                            input#id-background.form-control(type="text", value="", class="validate[required]")
                                    .row
                                        .col-xs-3.row-label.text-right Client ID<span class="asterisk-red">*</span>
                                        .col-xs-3.text-center.row-field
                                            input#id-client-id.form-control(type="text", value="", class="validate[required]")
                                        .col-xs-2.row-label.text-right Client Name<span class="asterisk-red">*</span>
                                        .col-xs-4.text-center.row-field
                                            input#id-client-name.form-control(type="text", value="", class="validate[required]")
                                    .row
                                        .col-xs-3.row-label.text-right Client URL<span class="asterisk-red">*</span>
                                        .col-xs-9.text-center.row-field
                                            input#id-client-url.form-control(type="text", value="", class="validate[required]")
                            .row.pass-line
                            .row
                                .col-xs-3.row-label
                                    h4 Contact information
                                .col-xs-9
                                    .row
                                        .col-xs-3.row-label.text-right First Name<span class="asterisk-red">*</span>
                                        .col-xs-3.text-center.row-field
                                            input#id-firstname.form-control(type="text", value="", class="validate[required]")
                                        .col-xs-2.row-label.text-right Last Name<span class="asterisk-red">*</span>
                                        .col-xs-4.text-center.row-field
                                            input#id-lastname.form-control(type="text", value="", class="validate[required]")
                                    .row
                                        .col-xs-3.row-label.text-right Email Address<span class="asterisk-red">*</span>
                                        .col-xs-9.text-center.row-field
                                            input#id-email.form-control(type="text", value="", class="validate[required,custom[email]]")
                                    .row
                                        .col-xs-3.row-label.text-right Company<span class="asterisk-red">*</span>
                                        .col-xs-5.text-center.row-field
                                            input#id-company.form-control(type="text", value="", class="validate[required]")
                                        .col-xs-4
                                    .row
                                        .col-xs-3.row-label.text-right City<span class="asterisk-red">*</span>
                                        .col-xs-3.text-center.row-field
                                            input#id-city.form-control(type="text", value="", class="validate[required]")
                                        .col-xs-1.row-label.text-right State<span class="asterisk-red">*</span>
                                        .col-xs-2.text-center.row-field
                                            input#id-state.form-control(type="text", value="", class="validate[required]")
                                        .col-xs-1.row-label.text-right Zip<span class="asterisk-red">*</span>
                                        .col-xs-2.text-center.row-field
                                            input#id-zip.form-control(type="text", value="", class="validate[required]")
                                    .row
                                        .col-xs-3.row-label.text-right Assigned Group<span class="asterisk-red">*</span>
                                        .col-xs-3.text-center.row-field
                                            select#id-group
                                                option(value="Admin") Admin
                                        .col-xs-6
                            .row.pass-line
                            .row
                                .col-xs-3.row-label
                                    h4 Oauth information
                                .col-xs-9
                                    .row
                                        .col-xs-3.row-label.text-right Oauth Client ID
                                        #id-oauth-client-id.col-xs-9.row-label 93bd5920-6e3b-4cda-b444-dd1f0991dc42
                                        .col-xs-3.row-label.text-right Oauth Client Secret
                                        #id-oauth-client-secret.col-xs-9.row-label QYnhZ7A_Ee247xSYrKNL_G4j__r4UfUp5QKWMfKtnkw
                            .row.pass-line
                        .modal-footer
                            .row
                                button.js-modal-btn-cancel.btn.btn-default(data-dismiss="modal", style="margin-right: 20px;", type="button") Cancel
                                button.js-modal-add-new-client-btn.btn.btn-default(aria-hidden="true", type="button") Create New Client


        #modal-add-new-group.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Create New Group
                    .modal-body.clearfix
                        .row
                            .col-xs-4.row-label Group Name
                            .col-xs-8.row-field
                                input#id-add-group-name.form-control(type="text", name="id-add-group-name", value="", class="validate[required]")
                        .row
                            .col-xs-4.row-label Description
                            .col-xs-8.row-field
                                textarea#id-add-group-descr.form-control(name="id-add-group-desc")
                    .modal-footer
                        .row
                            button#modal-add-new-group-btn-cancel.btn.btn-default(data-dismiss="modal", style="margin-right: 20px;", type="button") Cancel
                            button#modal-add-new-group-btn-add.btn.btn-default(aria-hidden="true", type="button") Create Group
                        .row.text-center.modal-row-delete-group
                            button#modal-add-new-group-btn-delete.btn.btn-default.btn-delete(data-dismiss="modal", type="button") Delete Group

        #modal-add-user-to-group.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Add Member
                    .modal-body.clearfix
                        .row
                            .col-xs-9.row-field
                                span.icon-search
                                input#modal-search-users.form-control(type="text", name="modal-search-users", value="", placeholder="Enter Member Name")
                            .col-xs-3.row-label
                                button#modal-search-users-btn-search.btn.btn-default(type="button") Search
                        .row.add-user-to-group-grid-header
                            .col-xs-3 First Name
                                span.arrow-sort
                            .col-xs-3 Last Name
                            .col-xs-6 Email Address                            
                        .row.add-user-to-group-box
                            .col-xs-12
                    .modal-footer
                        button#modal-add-user-to-group-btn-cancel.btn.btn-default(data-dismiss="modal", style="margin-right: 20px;", type="button") Close
                        button#modal-add-user-to-group-btn-add.btn.btn-default(aria-hidden="true", type="button") Add User

        #modal-delete-users.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header.text-center
                        h4.modal-title.text-center Delete User
                    .modal-body.clearfix
                        p.text-center You are about to delete your selected user. 
                        p.text-center Are you sure you want to do this?
                        p.text-center This action <b>CAN NOT</b> be undone.
                    .modal-footer.text-center
                        button#modal-delete-users-btn-cancel.btn.btn-default(data-dismiss="modal", style="margin-right: 80px;", type="button") Cancel
                        button#modal-delete-users-btn-delete.btn.btn-default(aria-hidden="true", type="button") Yes, Delete

        #modal-remove-group-user.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header.text-center
                        h4.modal-title.text-center Remove User
                    .modal-body.clearfix
                        p.text-center You are about to remove this user from this group. 
                        p.text-center Are you sure you want to do this?
                        p.text-center This action <b>CAN NOT</b> be undone.
                    .modal-footer.text-center
                        button#modal-remove-group-user-btn-cancel.btn.btn-default(data-dismiss="modal", style="margin-right: 80px;", type="button") Cancel
                        button#modal-remove-group-user-btn-remove.btn.btn-default(aria-hidden="true", type="button") Yes, Remove
        
        #modal-delete-group.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header.text-center
                        h4.modal-title.text-center Delete Selected Group
                    .modal-body.clearfix
                        p.text-center You are about to delete the selected group. 
                        p.text-center Are you sure you want to do this?
                        p.text-center This action <b>CAN NOT</b> be undone.
                    .modal-footer.text-center
                        button#modal-delete-group-btn-cancel.btn.btn-default(data-dismiss="modal", style="margin-right: 80px;", type="button") Cancel
                        button#modal-delete-group-btn-delete.btn.btn-default(aria-hidden="true", type="button") Yes, Delete

        #confirm-alert.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirm-alert-label", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4#confirm-alert-label.modal-title are you sure?
                    .modal-body.clearfix
                    .modal-footer
                        button.btn.btn-default.yes(data-dismiss="modal", style="margin-right: 20px;", type="button") Confirm
                        button.btn.btn-default.no(data-dismiss="modal", aria-hidden="true", type="button") Cancel

        #error-alert.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Error
                    .modal-body.clearfix
                        p 
                    .modal-footer
                        button.btn.btn-default.no(data-dismiss="modal", type="button") Ok

        #general-alert.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title 
                    .modal-body.clearfix
                        p
                    .modal-footer
                        button.btn.btn-default.no(data-dismiss="modal", type="button") Ok

        #modal-select-starting-date.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Please select a starting date for generating Excel report
                    .modal-body.clearfix
                        .col-xs-12.text-center
                            input.js-select-startdate.input-in-datepicker.form-control(type="text", value="")
                    .modal-footer
                        button.btn.btn-default.no(data-dismiss="modal", style="margin-right: 50px;", aria-hidden="true", type="button") Cancel
                        button.btn.btn-default.btn-ok(data-dismiss="modal", type="button") Export

        form(enctype="multipart/form-data", method="post", style="display: none; width: 0; height: 0;", onsubmit="return false;")
            input#topicIcon(type="file", name="topicIcon", style="display: none;")

        iframe#downloadFrame(width="0", height="0", name="downloadFrame", style="display: none;")

        script(data-main="js/desktop.admin" src="js/libs/require.js")
